html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 90%;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0.6rem auto;
    text-align: center;
}

/* Header styles */

header {
    height: 16.5rem;
}
.header-details img {
    height: 150px;
    width: 150px;
}
.header-details h1 {
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 0rem;
}

/* input-form section */

.input-form {
    padding-bottom: 1rem;
}
form input {
    padding: 0.4rem;
    font-size: 0.75rem;
    margin-right: 0.75rem;
}
form button {
    padding: 0.54rem;
    font-size: 0.8rem;
}

/* display-results section */

.display-results .results h2 {
    padding-bottom: 1rem;
}
.image-results {
    border: 2px solid #b30000;
    margin: 2rem;
}
.image-results li {
    list-style: none;
    width: 30%;
    display: inline-block;
    margin: 1rem;
}
.images {
    width: 100%;
    border: 2px solid #b30000;
    border-radius: 0.5rem;
}
